.centralized {
    justify-content: center;
    text-align: center;
}

ul:not(.generic) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li:not(.generic) {
    float: left;
}

li a:not(.generic) {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Bebas Neue;
}

li a:hover:not(.generic) {
    background-color: lightgrey;
}

body {
    color: white;
    background-color: black; 
}

body {
    background-image: url("/img/background.jpg");
    color: white;
    width: 1010px;
    margin-left:auto;
    margin-right:auto;
}

#overlay {
    position: center;
    display: all;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.center-fixed{	
	width: 500px;
	height: 350px;
	margin: 0 auto;
}

form{	
	width: 260px;
	height: auto;
	margin: 0 auto auto auto;
	padding: 20px;
	border: 3px solid black;
	border-radius: 10px;
}

	form label{
		font: bold 18px calibri, Arial, Courier;
	}

	form input{		
	   	box-sizing: border-box;
	   	border: 3px solid #ccc;
	   	font: 15px arial, sans-serif;
   		margin-bottom: 12px;	
	}

		form input:focus{
			border: 3px solid #333;			
		    -webkit-transition: 0.5s;
		    transition: 0.5s;
    		outline: none;
		}

		form input[type=text]{
			width: 100%;
		    padding: 3px 5px;	    
		}

		form input[type=date]{
			padding: 1px 5px;
		}

		form input[type=submit]{
			width: 50%;
			margin-top: 20px;			
			padding: 12px 32px;
    		transition: 0.1s;
    		border: 0 none; 	
			background-color: gray;				
			color: white;			
			cursor: pointer;
		}

			form input[type=submit]:hover{
				background-color: lightgray;
				color: black;			
			}

			form input[type=submit]:active{
				font-weight: bold;
			}

table{
	width: 90%;
	margin: 0 auto;
	border-collapse: separate;  
	text-align: center;  
}
	table thead tr{ 
		background-color: gray;
		color:white;
	}
			table thead tr th {		
			padding: 3px 8px;
			border-bottom:2px solid black;
			border-right: 1px solid black;
		}
	table button{
		background-color: gray;
		color: white;
		padding: 3px 5px;
	}

.estadoAlteracao{
	background-color: orange;
}

div.gallery {
	margin: 10px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }